<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd" id="WebApp_ID" version="6.0">
  <display-name>ShopManagement</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>addEditServlet</display-name>
    <servlet-name>addEditServlet</servlet-name>
    <servlet-class>shopping.addEditServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>addEditServlet</servlet-name>
    <url-pattern>/addEditServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>removeServlet</display-name>
    <servlet-name>removeServlet</servlet-name>
    <servlet-class>shopping.removeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>removeServlet</servlet-name>
    <url-pattern>/removeServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>displayProductsServlet</display-name>
    <servlet-name>displayProductsServlet</servlet-name>
    <servlet-class>shopping.displayProductsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>displayProductsServlet</servlet-name>
    <url-pattern>/displayProductsServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>addtoCartServlet</display-name>
    <servlet-name>addtoCartServlet</servlet-name>
    <servlet-class>shopping.addtoCartServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>addtoCartServlet</servlet-name>
    <url-pattern>/addtoCartServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>generateBillServlet</display-name>
    <servlet-name>generateBillServlet</servlet-name>
    <servlet-class>shopping.generateBillServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>generateBillServlet</servlet-name>
    <url-pattern>/generateBillServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>getProfitServlet</display-name>
    <servlet-name>getProfitServlet</servlet-name>
    <servlet-class>shopping.getProfitServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>getProfitServlet</servlet-name>
    <url-pattern>/getProfitServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>getTotalTaxPaidServlet</display-name>
    <servlet-name>getTotalTaxPaidServlet</servlet-name>
    <servlet-class>shopping.getTotalTaxPaidServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>getTotalTaxPaidServlet</servlet-name>
    <url-pattern>/getTotalTaxPaidServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>displayHistoryServlet</display-name>
    <servlet-name>displayHistoryServlet</servlet-name>
    <servlet-class>shopping.displayHistoryServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>displayHistoryServlet</servlet-name>
    <url-pattern>/displayHistoryServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>salesLoginServlet</display-name>
    <servlet-name>salesLoginServlet</servlet-name>
    <servlet-class>shopping.salesLoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>salesLoginServlet</servlet-name>
    <url-pattern>/salesLoginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>managerLoginServlet</display-name>
    <servlet-name>managerLoginServlet</servlet-name>
    <servlet-class>shopping.managerLoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>managerLoginServlet</servlet-name>
    <url-pattern>/managerLoginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>managerServlet</display-name>
    <servlet-name>managerServlet</servlet-name>
    <servlet-class>shopping.managerServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>managerServlet</servlet-name>
    <url-pattern>/managerServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>editServlet</display-name>
    <servlet-name>editServlet</servlet-name>
    <servlet-class>shopping.editServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>editServlet</servlet-name>
    <url-pattern>/editServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>generatePdfServlet</display-name>
    <servlet-name>generatePdfServlet</servlet-name>
    <servlet-class>shopping.generatePdfServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>generatePdfServlet</servlet-name>
    <url-pattern>/generatePdfServlet</url-pattern>
  </servlet-mapping>
</web-app>